In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\suert\OneDrive\Escritorio\Nueva carpeta\limpio.csv")
df

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,...,satisfaction,Gender_Female,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
0,70172,13,460,3,4,3,1,5,3,5,...,0,0,1,1,0,0,1,0,0,1
1,5047,25,235,3,2,3,3,1,3,1,...,0,0,1,0,1,1,0,1,0,0
2,110028,26,1142,2,2,2,2,5,5,5,...,1,1,0,1,0,1,0,1,0,0
3,24026,25,562,2,5,5,5,2,2,2,...,0,1,0,1,0,1,0,1,0,0
4,119299,61,214,3,3,3,3,4,5,5,...,1,0,1,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,78463,34,526,3,3,3,1,4,3,4,...,0,0,1,0,1,1,0,1,0,0
129876,71167,23,646,4,4,4,4,4,4,4,...,1,0,1,1,0,1,0,1,0,0
129877,37675,17,828,2,5,1,5,2,1,2,...,0,1,0,1,0,0,1,0,1,0
129878,90086,14,1127,3,3,3,3,4,4,4,...,1,0,1,1,0,1,0,1,0,0
129879,34799,42,264,2,5,2,5,4,2,2,...,0,1,0,1,0,0,1,0,1,0

In [4]:
X = df.drop(["satisfaction"], axis=1)
y = df["satisfaction"]

In [5]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()

scaler_X_train = scaler.fit_transform(X_train)

scaler_X_test = scaler.transform(X_test)

model = LogisticRegression()
model.fit(scaler_X_train, y_train)

y_pred=model.predict(scaler_X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Exactitud del modelo: {:.2f}".format(accuracy))

Exactitud del modelo: 0.88

In [6]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)

y_pred = dtc.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
print("Exactitud del modelo: {:.2f}".format(accuracy))

Exactitud del modelo: 0.95

In [7]:

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

y_pred = rfc.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("PrecisiÃ³n del modelo:", accuracy)

PrecisiÃ³n del modelo: 0.9637357560825377

In [15]:
import joblib

# Supongamos que "modelo" es tu objeto de modelo entrenado
joblib.dump(rfc, 'c:/Users/suert/OneDrive/Escritorio/Nueva carpeta/random_forest.pkl')

['c:/Users/suert/OneDrive/Escritorio/Nueva carpeta/random_forest.pkl']

In [ ]:

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()

scaler_X_train = scaler.fit_transform(X_train)

scaler_X_test = scaler.transform(X_test)

knnmodel = KNeighborsClassifier()

knnmodel.fit(scaler_X_train, y_train)

y_pred=knnmodel.predict(scaler_X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Exactitud del modelo: {:.2f}".format(accuracy))

Exactitud del modelo: 0.93

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

super_svm = SVC()

super_svm.fit(X_train, y_train)

y_pred = super_svm.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)   
print("Exactitud del modelo: {:.2f}".format(accuracy))

Exactitud del modelo: 0.65